section#contato p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

section#contato form {
    display: flex;
    flex-direction: column;
    padding-inline: 4rem;
    margin-top: 2rem;
    gap: 1rem;
    max-width: 800px;
    margin: auto;
}

section#contato form input {
    padding: 1rem .5rem;
    background-color: var(--pretoLight);
    border: 2px solid #333;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 12px;
    transition: all .3s ease;
}

section#contato form textarea {
    border: 2px solid #333;
    background-color: var(--pretoLight);
    color: #fff;
    padding: .5rem;
    font-size: 1.25rem;
    resize: vertical;
    border-radius: 12px;
    transition: all .3s ease;
}

section#contato form input:hover,
section#contato form textarea:hover {
    border-color: var(--verde);
}

section#contato form button {
    background: var(--verde);
    padding: 1rem .5rem;
    border: none;
    color: #fff;
    font-size: 1.25rem; 
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

section#contato form button:hover {
    opacity: .8;
}

.redes {
    text-align: center;
    gap: 4px;
    font-size: 24px;
    color: #fefe;
    margin-block: 2rem;
}

.redes a {
    text-decoration: none;
}

.redes .ph.ph-github-logo {
    color: #fefe;
    font-size: 64px;
}

.redes .ph.ph-linkedin-logo {
    color: var(--azul);
    font-size: 64px;
}
