#contato {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

#contato h1 {
    color: #fefefe;
    font-weight: normal;
    text-align: center;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 24px;
    color: #fefe;
    margin-block: 2rem;
}

.redes a {
    text-decoration: none;
}

.redes .ph.ph-github-logo {
    color: #fefe;
    font-size: 64px;
    display: block;
    border-radius: 12px;
    padding: .25rem;
    transition: all .4s;
}

.redes .ph.ph-linkedin-logo {
    color: var(--azul);
    font-size: 64px;
    display: block;
    border-radius: 12px;
    padding: .25rem;
    transition: all .4s;
}

.redes .ph.ph-whatsapp-logo {
    color: var(--verdeLight);
    font-size: 64px;
    display: block;
    border-radius: 12px;
    padding: .25rem;
    transition: all .4s;
}

.redes .ph.ph-instagram-logo {
    color: pink;
    font-size: 64px;
    display: block;
    border-radius: 12px;
    padding: .25rem;
    transition: all .4s;
}

.redes .ph.ph-github-logo:hover, .redes .ph.ph-linkedin-logo:hover,
.redes .ph.ph-whatsapp-logo:hover, .redes .ph.ph-instagram-logo:hover {
    transform: translateY(-15px);
}

.redes .ph.ph-github-logo:hover {
    box-shadow: 0px 12px 8px #fefe;
}

.redes .ph.ph-linkedin-logo:hover {
    box-shadow: 0px 12px 8px var(--azul);
}

.redes .ph.ph-whatsapp-logo:hover {
    box-shadow: 0px 12px 8px var(--verdeLight);
}

.redes .ph.ph-instagram-logo:hover {
    box-shadow: 0px 12px 8px pink;
}