@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

:root {
    --azul: #81d8f7;
    --verdeDark: #015f43;
    --verde: #00875f;
    --verdeLight: #00b37e;

    --preto: #09090a;
    --pretoLight: #121214;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--preto); 
}

.hidden {
    display: none;
}

.box {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden
}
.slide-images > .swiper-wrapper > .swiper-slide {
    height: 100vh;
}

.slide-thumbnail {
    position: relative;
    bottom: 120px;
    z-index: 2;
    width: 600px;
    transform: translateX(-50%);
    left: 50%;
    overflow: hidden;
    transition: all .3s ease;
}

.slide-thumbnail .swiper-wrapper {
    justify-content: center;
}

.slide-thumbnail .swiper-slide {
    padding: 2rem;
    border-radius: 12px;
    background: var(--pretoLight);
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: all .8s ease-in-out;
}

.slide-thumbnail .swiper-slide span {
    display: none;
}

.slide-thumbnail .swiper-slide:hover span {
    display: block;
    position: absolute;
    bottom: 4px;
    font-size: 12px;
}

.swiper-slide-thumb-active {
    border-top: 3px solid var(--azul);
}

.upDownMenu {
    position: absolute;
    bottom: 90px;
    color: #fefefe;
    right: 5%;   
    z-index: 9999;
    cursor: pointer;
    transition: all ease .3s;
}

.ph.ph-caret-up-down {
    font-size: 22px;
}

:root:has(#controlaMenu:checked) .slide-thumbnail { 
    
    bottom: 0px;
}