.relative {
    position: relative;
}

.projetosCards {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    gap: 1rem;
    padding-inline: 1.25rem;
    transition: all .2s;
    scroll-behavior: smooth;
}

.projetosCards::-webkit-scrollbar {
    display: none;
}

.div-left-scroll {
    position: absolute;
    top: 0;
    left: 0rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.button-scroll {
    border-radius: 50%;
    padding: 1rem;
    background: #000;
    color: #fff;
    border: 1px solid #00b37e;
    cursor: pointer;
}

.div-right-scroll {
    position: absolute;
    top: 0;
    right: 0rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.card {
    display: grid;
    width: 400px;
    grid-template-rows: max-content max-content 1fr max-content;
    gap: 1rem;
    border: 1px solid var(--verdeLight);
    border-radius: 8px;
}

.figura-card {
    width: 300px;
    height: 200px;
}

.figura-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.titulo-card {
    margin-top: 8px;
    color: #fefefe;
    text-align: center;
    padding: 0 2rem;
    width: 100%;
}

.descricao {
    color: #fefefe;
    text-align: justify;
    margin: auto;
    
    padding: 0 2rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: .55rem;

    padding: .55rem;
}

.acesso-projeto, .acesso-repositorio {
    display: block;
    text-decoration: none;
    padding: .55rem .45rem; 
    border: 1px solid var(--verdeLight);
    border-radius: 8px;
    color: #fefefe;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.acesso-projeto {
    background-color: var(--verdeLight);
}

.acesso-projeto:hover {
    opacity: .8;
}

.acesso-repositorio:hover {
    background-color: var(--verdeLight);
}


#maisProjetos {
    display: block;
    width: 15rem;
    padding: 1rem 2rem;
    background-color: var(--verde);
    color: #fff;
    margin: 50px auto;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

#maisProjetos:hover {
    background-color: var(--verdeLight);
}