section#projetos {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 32px;
    position: relative;
}

section#projetos > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 32px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    width: 200px;
    height: 300px;
}

.card span {
    color: #fefe;
    line-height: 150%;
    font-size: 24px;
    text-align: center;
    display: block;
}

.card-wrapper {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--verde);
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.card:hover .card-wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px var(--verdeLight);
    -webkit-box-shadow: 2px 35px 32px -8px var(--verdeLight);
    -moz-box-shadow: 2px 35px 32px -8px var(--verdeLight);
}

.card-wrapper img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.card-wrapper h2, .card-wrapper p {
    padding: .5rem;
    color: #fefe;
}

.card-acesse-projeto {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: end;
    align-items: center;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefe;
}


.card-acesse-projeto div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: .5rem;
    margin-bottom: 4px;
}

.card-acesse-projeto div a {
    text-decoration: none;
    text-align: center;
    color: #fefe;
    background-color: var(--verde);
    border-radius: 8px;
    padding: .25rem .35rem;
}

.card:hover .card-acesse-projeto {
    opacity: 1;
    transform: translate3d(0%, -50%, 100px);
}

#maisProjetos {
    text-decoration: none;
    color: #fefe;

    position: absolute;
    top: 73%;
}

