@media (max-width: 400px) {
    header div ul li {
        font-size: 87%;
    }

    #sobreTexto p {
        font-size: 67%;
    }

    #imgPerfil {
        width: 200px;
        height: 200px;
    }
    
}