@media (min-width: 1300px) {
    .figura-card {
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 1300px) {
    main section#contato{
        margin-top: 400px;
    }
}

@media (max-width: 600px) {
    #sobreTexto p {
        font-size: 77%;
    }
}

@media (max-width: 400px) {
    header div ul li {
        font-size: 87%;
    }

    #sobreTexto p {
        font-size: 67%;
    }

    #imgPerfil {
        width: 200px;
        height: 200px;
    }
}