section#skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;


}

.grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, .3fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 4rem;    
}

.grid .frontend, .grid .backend,
.grid .bancodedados, .grid .microcontrolador {
    padding: 2rem;
    transition: all .5s ease;
}

.grid .frontend {
    border-bottom: 2px solid var(--verdeLight);
    border-right: 2px solid var(--verdeLight);
}

.grid .frontend:hover {
    transform: translate(-25px, -25px);
    box-shadow: 24px 24px 48px var(--verde);
}

.grid .microcontrolador {
    border-top: 2px solid var(--verdeLight);
    border-left: 2px solid var(--verdeLight);
}

.grid .microcontrolador:hover {
    transform: translate(25px, 25px);
    box-shadow: -24px -24px 48px var(--verde);
}

.grid .bancodedados {
    border-top: 2px solid var(--verdeLight);
    border-right: 2px solid var(--verdeLight);
}

.grid .bancodedados:hover {
    transform: translate(-25px, 25px);
    box-shadow: 24px -24px 48px var(--verde);
}

.grid .backend {
    border-left: 2px solid var(--verdeLight);
    border-bottom: 2px solid var(--verdeLight);
}

.grid .backend:hover {
    transform: translate(25px, -25px);
    box-shadow: -24px 24px 48px var(--verde);
}

.grid .frontend, .grid .microcontrolador {
    background-color: var(--pretoLight);

}

.grid .frontend p, .grid .backend p,
.grid .bancodedados p , .grid .microcontrolador p {
    color: #fff;
    margin-bottom: 8px;
}

.grid .frontend div, .grid .backend div,
.grid .bancodedados div , .grid .microcontrolador div {
    
    display: flex;
    align-items: center;
    gap: 8px;
}